<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">Sobre Nosotros</h2>
        </div>
        <div class="card-body">
          <p class="lead">
            Bienvenidos a la plataforma de prácticas, donde podrá realizar el proceso de registro y seguimiento de sus prácticas de una forma eficiente y eficaz.
          </p>
          <p>
            Nuestra plataforma está diseñada para mejorar significativamente los procesos, facilitando la gestión y administración de las prácticas profesionales. Nos esforzamos por ofrecer una herramienta intuitiva y completa que permita a los usuarios centrarse en lo que realmente importa: el desarrollo de sus habilidades y conocimientos.
          </p>
          <p>
            A través de nuestra plataforma, podrá registrar sus prácticas, hacer un seguimiento detallado de su progreso y obtener informes que le ayudarán a evaluar su desempeño. Nuestro objetivo es hacer que este proceso sea lo más fluido y sencillo posible, para que pueda maximizar su experiencia de aprendizaje.
          </p>
          <p>
            Gracias por elegir nuestra plataforma. Estamos aquí para apoyarle en cada paso del camino, asegurándonos de que su experiencia sea positiva y enriquecedora.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
