<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Plataforma prácticas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/nosotros">Nosotros</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle role="button"
           aria-haspopup="true" aria-expanded="false">
          Usuario
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown">
          <button ngbDropdownItem routerLink="/home/contacto">Contactos</button>
          <button ngbDropdownItem routerLink="/home/empresa">Empresas</button>
          <button ngbDropdownItem routerLink="/home/jefe">Jefes</button>
          <button ngbDropdownItem routerLink="/home/estudiante">Estudiantes</button>
          <button ngbDropdownItem routerLink="/home/practica">Practicas</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Cambiar Contraseña</button>
          <button ngbDropdownItem>Cerrar Sesión</button>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
